body {
	background-color: #051774;
	color: white;
	font-family: sans-serif;
}

.mobile-menu {
	background-color: #d16d2a;
	position: fixed;
	width: 70%;
	height: 100%;
	right: -70%;
	top: 0px;
	color: white;
}

.mobile-menu > ul {
	list-style: none;
	padding: 3px;
	margin: 0px;
}

.mobile-menu > ul > li , .mobile-submenu > li {
	padding: 8px;
	margin: 2px;
	width: auto;
	height: auto;
	font-size: 4vh;
	border-bottom: 2px solid #e87722;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 20px;
}

.mobile-submenu > li:not(:nth-child(2)) {
	padding-left: 70px;
	font-size: 3vh;
	font-weight: lighter;
}

.mobile-menu > ul > li:hover , .mobile-submenu > li:hover:not(:nth-child(2)) {
	background-color: #e87722;
}

.mobile-menu > ul > li > a , .mobile-submenu > li:not(:nth-child(2)) > a, .mobile-menu-icon-container > a {
	width: 100%;
	text-decoration: none;
	color: white;
}

.mobile-submenu > li:not(:nth-child(2)):not(:first-child) > a {
	color: #eeeeee;
}

.mobile-submenu {
	position: fixed;
	right: -70%;
	list-style: none;
	width: 70%;
	background-color: #d16d2a;
	height: 100%;
	padding: 0px;
	margin: 0px;
	top: 0px;
}

.mobile-submenu > li:first-child {
	background-color: #c15d1a;
	font-weight: lighter;
	padding-left: 20px;
}

.mobile-submenu > li:nth-child(2) > a {
	font-weight: bold;
}

.mobile-submenu > li:nth-child(2) {
	border-bottom: 0px;
}

#submenu-container {
	list-style-type: none;
}

.mobile-menu > ul > li:first-child {
	height: 6vh;
	padding-left: 8px;
}

.mobile-menu-right-icon {
	height: 5vh;
	display: inline;
	width: 15% !important;
	text-align: center;
	line-height: 100%;
	font-size: 5vh;
	display: table-cell;
	padding-top: 0px;
	color: white;
}

.mobile-menu-right-icon > img {
	height: 100%;
}

.mobile-menu-icon-container {
	display: table;
	width: 100%;
	padding: 0px;
	margin: 0px;
	table-layout: fixed;
}

.mobile-submenu > li:not(:nth-child(2)):not(:first-child) > a:after {
	content: "\25ba";
	float: right;
}

.mobile-quicklinks > ul > li {
	font-size: 2vh;
	padding-bottom: 3px;
}

.mobile-quicklinks > ul > li > a {
	text-decoration: none;
	color: white;
}

.mobile-quicklinks > ul {
	padding-left: 0px;
	list-style-type: none;
}

.cena {
	position: fixed;
	left: 30%;
	bottom: -50px;
	color: #ff0000;
	padding: 0px;
	margin: 0px;
}