.footer {
    color: white;
    text-align: center;
}

#footer-i{
    width: 100%;
    padding-bottom: 16px;
    padding-top: 16px;
}
#footer-logos{
    list-style-type: none;
}

.footer-social-icons{
    display: inline;
    padding-right: 20px;
}

#footer-info{
    list-style-type: none;
}

.footer-info-list{
    display: inline-block;
}

.footer-info-list::after {
    content: " | "; /* There is an extra space between inline elements, but it will be collapsed with the trailing content space */
}

.footer-info-list:last-child:after {
    content: "";
}
