#quicklinks {
    display: flex;
    height: 2rem;
    padding: 0 15%;
    
    font-size: 0.875rem;
    
    color: #E87722;
}

#uni-name {
    flex: 1;
}

#quicklinks a {
    line-height: 2rem;
    
    color: #E87722;
}

#quicklinks a:hover {
    text-decoration: underline;
}

#quicklinks span::after {
    content: " | ";
    white-space: pre; /* the trailing space will be collapsed unless this is set to pre */
}

#quicklinks span:last-child:after {
    content: "";
}

#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    padding: 0 15%;
    
    background-color: #E87722;
    background-color: rgba(232, 119, 34, 0.9);
}

#main-nav a {
    flex: 1;
    height: 4em;
    
    text-align: center;
    line-height: 4em;
    
    color: white;
    
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

#main-nav a:hover {
    background-color: #E87722;
}

nav a {
    text-decoration: none;
}

div.uni-mark {
    padding: 0 5%;
}

img.uni-mark {
    height: 7em;
    outline: solid 1px white;
    
    -webkit-box-shadow: 0px 0px 50px 4px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 50px 4px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 50px 4px rgba(0,0,0,0.25);
}
