#content {
	margin-bottom: calc(1em + 1em);
}

#content-left {
	float: left;
	margin-top: 3em;
	padding-left: 10%;
}

#section-title {
	font-size: 3em;
	font-weight: bold;
	border-bottom: 2px solid #001489;
	width: 100%;
	color: #001489;
	font-family: sans-serif;
}

#section-content {
	width: 100%;
	margin-top: 1em;
	line-height: 1.4em;
	font-size: 1em;
}

#image {
	width: 100%;
	margin-top: 1em;
	text-align: center;
}

#image > img {
	width: 100%;
}

@media screen and (min-width: 800px) {
	.sidebar {
		width: 25%;
		border-left: 1px solid #001489;
		float: right;
		margin-top: 6.5em;
	}

	.sidebar > ul {
		list-style-type: none;
	}

	.sidebar > ul > li:first-child > a{
		color: #001489;
		font-weight: bold;
		font-size: 1.3em;
	}

	.sidebar > ul > li:not(:first-child) {
		padding-left: 1.1em;
	}

	.sidebar > ul > li {
		margin-top: 0.5em;
	}

	.sidebar > ul > li > ul {
		list-style-type: none;
	}
	
	#content-left {
		width: 60%;
	}
	
	.sidebar a {
		color: black;
		text-decoration: none;
	}
}

@media screen and (max-width: 800px) {
	.sidebar {
		display: none;
	}
	
	#content-left {
		width: 80%;
	}
}

.unused {
	display: none;
}